.linkedVaf {
  margin-top: 2em;

  .chart-container {
    height: 760px;
    position: relative;
  }

  .vaf-scatterplot {
    position: absolute;
    top: 0;
  }
  #vaf1 {
    left: 0;
  }
  #vaf2 {
    left: 380px;
  }
  #vaf3 {
    left: 760px;
  }
  #parallel-coords {
    position: absolute;
    top: 380px;
    left: 0px;
  }

  .info {
    font-size: 80%;
    .l {
      font-weight: bold;
      text-align: right;
    }
    .value {

    }
  }

  .button-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: block;
      margin-bottom: .5em;
    }
  }

  .cluster-key {
    margin: 0;
    padding: 0;
    list-style: none;

    .cluster-item {
      margin-right: 8px;
      cursor: pointer;
      display: inline-block;
      padding: 3px 5px;
      border-radius: 4px;
      text-align: center;
      font-weight: bold;
      line-height: 12px;
      font-size: 80%;
      color: black;
      border: 2px solid;
    }

    .included {
      color: white;
    }

    .excluded {
      color: #999;
    }
  }



  .chart-ui{
    margin-top: 1em;
  }

  .grid-block {
    margin-bottom: 2em;
  }

  .chart-container {
    border-radius: 5px;
    background: white;
  }
}
