.linkedVaf {
  margin-top: 2em;

  .chart-container {
    height: 760px;
    position: relative;
  }

  .gridExport {
    min-width: 125px;
    .form-group {
      font-size: 90%;
      margin-bottom: .5em;
      margin-left: .5em;
      .radio.inline {
        font-weight: normal !important;
      }
    }

    button {
      margin-top: .5em;
    }
  }

  .selected {
    stroke: red;
  }

  .link {
    stroke: #999;
  }

  .brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
  }

  .vaf-scatterplot {
    position: absolute;
    top: 0;
  }
  #vaf1 {
    left: 0;
  }
  #vaf2 {
    left: 380px;
  }
  #vaf3 {
    left: 760px;
  }
  #parallel-coords {
    position: absolute;
    top: 380px;
    left: 0px;
  }

  .info {
    margin-top: .5em;
    font-size: 80%;
    .l {
      font-weight: bold;
      text-align: right;
    }
    .value {

    }

    table {
      margin-bottom: .5em;
    }
  }

  .button-menu {
    list-style: none;
    margin: 0;
    margin-bottom: 1.5em;
    padding: 0;
    li {
      display: block;
      margin-bottom: .5em;
    }
  }

  .instructions {
    padding: 2em 0 0 .5em;
  }

  .d3-dragrect {
    stroke: steelblue;
    stroke-dasharray: 5,5;
    fill: aliceblue;
    fill-opacity: 0.5;
  }

  .d3-dragrect:hover {
    stroke: red;
    fill-opacity: 0.7;
    stroke-dasharray: 1,1;
  }

  .d3-dragrect.selected {
    stroke: red;
    fill-opacity: 0.5;
  }

  .cluster-key {
    margin: 0;
    padding: 0;
    list-style: none;

    .cluster-item {
      margin-right: 8px;
      cursor: pointer;
      display: inline-block;
      padding: 3px 5px;
      border-radius: 4px;
      text-align: center;
      font-weight: bold;
      line-height: 12px;
      font-size: 80%;
      color: black;
      border: 2px solid;
    }

    .included {
      color: white;
    }

    .excluded {
      color: #999;
    }
  }



  .chart-ui{
    margin-top: 1em;
  }

  .grid-block {
    margin-bottom: 2em;
  }

  .chart-container {
    border-radius: 5px;
    background: white;
  }
}
