<!DOCTYPE html>
<html ng-app="linkedVafs" ui-tour>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AML31 Figures</title>

    <!-- inject:vendor:css -->
    <link rel="stylesheet" href="/angular-hotkeys/build/hotkeys.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/figures/linkedVaf/linkedVaf.css">
    <!-- endinject -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css"/>
  </head>
  <body>
    <div class="linkedVaf" ng-controller="LinkedVafController">

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="chart-container"
                 tour-step="0"
                 tour-step-title="VAF Scatterplot and Parallel Coordinates Charts"
                 tour-step-content="The scatterplots show X, while the parallel coordinates chart below shows Y.">
              <vaf-scatterplot
                id="vaf1"
                class="vaf-scatterplot"
                options="vm.vaf1Options"
                palette="vm.palette">
              </vaf-scatterplot>
              <vaf-scatterplot
                id="vaf2"
                class="vaf-scatterplot"
                options="vm.vaf2Options"
                palette="vm.palette">
              </vaf-scatterplot>
              <vaf-scatterplot
                id="vaf3"
                class="vaf-scatterplot"
                options="vm.vaf3Options"
                palette="vm.palette">
              </vaf-scatterplot>
              <vaf-parallel-coords
                id="parallel-coords"
                options="vm.parallelCoordsOptions"
                palette="vm.palette">
              </vaf-parallel-coords>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <span class="pull-right"><strong>Clusters:</strong></span>
          </div>
          <div class="col-xs-10">
            <ul class=" cluster-key"
                tour-step="1"
                tour-step-title="Cluster Key"
                tour-step-content="Clusters are indicated in the charts by the color key. Click a cluster in the key to show or hide that cluster in all charts.">
              <li class="cluster-item"
                  ng-repeat="color in vm.palette"
                  ng-click="vm.toggleCluster($index + 1)"
                  ng-style="{ 'background-color': vm.allClusterIncluded($index + 1) ? color : '#EFEFEF', 'border-color': vm.clusterIncluded($index + 1) ? color : 'darkgrey'}"
                  ng-class="{ 'included': vm.allClusterIncluded($index + 1), 'excluded': !vm.allClusterIncluded($index + 1)}">
                cluster {{ $index + 1 }}
              </li>
              <!--<li>-->
                <!--<a class="btn btn-xs btn-block btn-default">Start Tour</a>-->
              <!--</li>-->
            </ul>
          </div>
        </div>

        <div class="row chart-ui">
          <div class="col-xs-2">
            <ul class="button-menu"
                tour-step="2"
                tour-step-title="Variant Filtering Controls"
                tour-step-content="With the data grid to the right, these buttons control the variants displayed in the charts.">
              <li
                tour-step="3"
                tour-step-title="Include All Button"
                tour-step-content="Click this button to include all variants in the charts.">
                <a class="btn btn-xs btn-default btn-block"
                   ng-click="vm.includeAll()"
                   title="Show all variants">Include All</a>
              </li>
              <li tour-step="3"
                  tour-step-title="Include Filtered"
                  tour-step-content="Add data grid's filtered results to the currently displayed variants.">
                <a class="btn btn-xs btn-default btn-block"
                   ng-click="vm.includeFiltered()"
                   title="Add currently filtered variants to charts">Include Filtered</a>
              </li>
              <li>
                <a class="btn btn-xs btn-default btn-block"
                   ng-click="vm.excludeFiltered()"
                   title="Remove currently filtered variants from charts">Exclude Filtered</a>
              </li>
              <li>
                <a class="btn btn-xs btn-default btn-block"
                   ng-click="vm.includeFilteredOnly()"
                   title="Include only filtered variants in charts">Include Only Filtered</a>
              </li>
              <li>
                <a class="btn btn-xs btn-default btn-block"
                   ng-click="vm.excludeFilteredOnly()"
                   title="Include only non-filtered variants in charts">Exclude Only Filtered</a>
              </li>
            </ul>
            <div class="info">
              <table class="table table-compact table-bordered">
                <tr>
                  <td class="l">
                    Total Variants:
                  </td>
                  <td class="value">
                    {{ vm.originalData.length }}
                  </td>
                </tr>
                <tr>
                  <td class="l">
                    Included Variants:
                  </td>
                  <td class="value">
                    {{ vm.gridApi.grid.selection.selectedCount }}
                  </td>
                </tr>
                <tr>
                  <td class="l">
                    Filtered Variants:
                  </td>
                  <td class="value">
                    {{ vm.gridApi.core.getVisibleRows().length }}
                  </td>
                </tr>
              </table>
            </div>
            <div class="instructions">
              <p class="small">Use the cluster key and data grid to control which variants are included in the charts. Click a cluster in the key to toggle the display of variants in that cluster. Use the grid filters and buttons above to adjust the set of displayed variants.</p>
            </div>

          </div>
          <div class="col-xs-10">

            <div class="grid-block">
              <div ui-grid="vm.gridOptions"
                   ui-grid-auto-resize
                   ui-grid-selection>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- inject:vendor:js -->
    <script src="/angular/angular.js"></script>
    <script src="/d3/d3.js"></script>
    <script src="/lodash/lodash.js"></script>
    <script src="/dimple/dist/dimple.latest.js"></script>
    <script src="/angular-dsv/angular-dsv.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
    <script src="/angular-sanitize/angular-sanitize.js"></script>
    <script src="/ez-ng/dist/ez-ng.js"></script>
    <script src="/angular-hotkeys/build/hotkeys.js"></script>
    <script src="/angular-ui-tour/dist/angular-ui-tour.js"></script>
    <!-- endinject -->

    <!-- CDN JS -->
    <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>

    <!-- inject:js -->
    <script src="/app.js"></script>
    <script src="/figures/linkedVaf/linkedVaf.js"></script>
    <script src="/components/vaf-scatterplot/vafScatterplot.js"></script>
    <script src="/components/vaf-parallel-coords/vafParallelCoords.js"></script>
    <script src="/services/lodashService.js"></script>
    <script src="/services/dimpleService.js"></script>
    <script src="/services/d3dragRectService.js"></script>
    <script src="/services/d3Service.js"></script>
    <script src="/filters/filters.js"></script>
    <script src="/linked-scatterplots-templates.js"></script>
    <!-- endinject -->
  </body>
</html>
